@import '../core/vars.scss';

td, th, p, span, label, h1, h2, h3, h4, h5, h6, i, dt, dd, div {
  color: $text-color;
}

h2 {
  font-weight: 300;
  font-size: 2em;
  margin: 1rem 0;
}

span {
  vertical-align: middle;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.centre-label {
  width: 100%;
  display: flex;
  justify-content: center;
}