@import 'common/page-item';

.TodoItem {
  @extend .page-item;
  display: flex;
  align-items: center;

  span {
    display: block;
  }

  &__title {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }

  > div {
    margin-right: 1rem;
  }

}