@import 'core/vars';

.Todos-container {

  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: calc(100% - 2rem);
  max-width: calc(100vw - 2rem);
  padding: 1rem 0;

  @media screen and (max-width: $mobile-threshold) {
    grid-template-columns: repeat(2, 1fr);
  }

}